
.zoom {
    transition: transform .9s; /* Animation */
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.zoomprofilpic {
    transition: transform .9s; /* Animation */
    width: 8em;
    height: 8em;
    margin: 0 auto;
}

.zoomprofilpic:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomindex {
    transition: transform .9s; /* Animation */
    width: 300px;
    height: 250px;
    margin: 0 auto;
}
.zoomindex:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}